six
invoke==1.3.0
paramiko==2.6.0
fabric==2.5.0
pyserial==3.4
wheel>=0.33.4
junit-xml==1.8
pytest
pytest-html==2.0.0
pytest-metadata==1.8.0
pytest-pythonpath==0.7.3
pytest-cov==2.8.1
pathlib2>=2.3.5
requests==2.23.0
xmltodict
artifactory
wcwidth
anybadge
wcwidth
websockets
psutil
py7zr
pyttk
